.HomePage__Box {
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin: 30px 0 30px 0;
}

h3 {
  text-align: center;
  margin-top: 20px;
}

.HomePage__Button {
  height: 40px;
  width: 150px;
  margin: 30px;
}

h2 span {
  color: rgb(255,127,80);
  font-weight: bold;
}