.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.Navbar {
  flex: 0 0 auto;
  background-color:rgb(8, 45, 99);
  min-height: 80px;
}

.SidebarContainer {
  flex: 1 0 auto;
}