.NoData__Box {
  border: 5px solid;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.NoData__Message {
  font-weight: bold;
}