.AddTodoListButton {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  border: solid 3px #ff7f50;
  background-color: coral;
  padding: 0;
  outline: none;
}

.AddTodoListButton:hover {
  background-color: rgb(221, 99, 55);
  border: solid 3px rgb(221, 99, 55);
}

.AddTodoListButton__icon {
  padding: 0;
  margin: 0;
  color: white;
}