.Card {
  height: 80%;
  border-radius: 0.25rem;
  background-color: rgb(255,255,255);
  width: 70%;
  margin: auto;
  border: 1px solid rgb(42,54,132);
}

.TodoListCard__CardBody {
  display: flex;
  flex-direction: column;
}

.TodoListCard__Scrollbar {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.TodoListCard__TodosCollection {
  flex: 1;
}

#TodoListCard__ScrollTarget {
  display: block;
}

.TodoListCard__Header {
  border-bottom: 4px solid rgb(42,54,132);
  background-color: rgb(255,255,255);
  align-items: center;
}

.TodoListCard__Footer {
  background-color: rgb(42,54,132);
  height: 10%;
}

.TodoListCard__Subtitle {
  font-size: 12px;
}